server.port: 8081

mico:
  server:
  username:
  password:

helixware.application:
    key:
    secret:

spring:
  datasource:
    url:
    username:
    password:
    driverClassName: com.mysql.jdbc.Driver
    testOnBorrow: true
    validationQuery: SELECT 1
  jpa.hibernate:
    ddl-auto: create-drop
    naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy
